In [5]:
from pyspark.sql import SparkSession

In [9]:
spark = SparkSession.builder.getOrCreate()

In [25]:
msRamen = spark.read.option("inferSchema", "true").csv("MsRamen.csv", header=True)
# msRamen.show()
# msRamen.show(5)
# msRamen.show(5, truncate=False)
# msRamen.select('RamenName', 'RamenPrice').show()
# msRamen.select('RamenName', 'RamenPrice').filter(msRamen.RamenPrice < 10000).show(5)

msRamen.createOrReplaceTempView("MsRamen")

query = "SELECT RamenName, RamenPrice FROM MsRamen WHERE RamenPrice > 10000 ORDER BY RamenPrice ASC"

spark.sql(query).show()

+--------------------+----------+
|           RamenName|RamenPrice|
+--------------------+----------+
|Ppushu Ppushu Noo...|     11000|
|Super Cup Torigaw...|     11000|
|Volcano Curry Kko...|     11000|
|Delight Tomato Fl...|     11000|
|MeeKuali Bihun Su...|     11000|
|Chicken Taco Flav...|     11000|
|Penang Hokkien Pr...|     11000|
|Nutri-licious Paz...|     11000|
|Donbei Kamodashi ...|     11000|
|Mi Segera Mmm... ...|     11000|
|Noodles Beef Flavour|     11000|
|Chongqing Noodles...|     11000|
|Cup Noodles With ...|     11000|
|Artificial Beef W...|     11000|
|Instant Noodles C...|     11000|
|Sazon Casero Sopa...|     11000|
|Demae Ramen Sesam...|     11000|
|Cup Noodle Light+...|     11000|
|Artificial Roaste...|     11000|
|Vegetarian Instan...|     11000|
+--------------------+----------+
only showing top 20 rows