In [7]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [9]:
data = spark.sparkContext.parallelize([1, 3, 5, 8, 12, 15, 5, 20])

In [26]:
# Transformation (Ubah setiap elemen di RDD)
def plus(num):
    return num + num

# newData = data.map(plus)
# newData.collect()

# newData = data.map(lambda num: num * num)
# newData.collect()

# filteredData = data.filter(lambda num: num < 5)
# filteredData.collect()

# distinctData = data.distinct();
# distinctData.collect()

# sortedData = data.sortBy(lambda num: num, True)
# sortedData.collect()

flattenedMap = data.flatMap(lambda num: (num, 10))
# flattenedMap.collect()
# flattenedMap.first()
# flattenedMap.take(5)
# flattenedMap.top(4)
flattenedMap.count()

16